<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chatlog test</title>
  <style>
    .log {padding:0}
    .log li {
      background-color: #eee;
      padding:2em;
      list-style: none;
      outline:1px solid #ccc;
      margin:0;
    }
    
  </style>
  
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
  </head>
  
  <body ng-app="businessApp">
    <div class="container" ng-controller="thingController"  role="log">
      <h2>Chatlog test</h2>
      <ul class="log">
        <li ng-repeat="messg in messgs">{{messg.Message}} </li>
      </ul>
      <div class="form-group">
        <label for="q">Question</label>
        <textarea id="q" class="form-control" rows="3" ng-model="newMessage"></textarea>
      </div>
      <button ng-click="addtoModel()" class="btn btn-primary">Submit</button>
      
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script type="text/javascript">
      var businessApp = angular.module('businessApp', []);
      
      businessApp.controller('thingController', ['$scope', function($scope) {
        $scope.messgs = [{
          "Message": "Initial helpful response"
        }];
        
        $scope.addtoModel = function(){
          $scope.messgs.push({"Message":$scope.newMessage})
        }
        
      }]);
    </script>
    
  </body>
  
  </html>
  